rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write for authenticated and app users to operate seamlessly
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
